@import './index.css';

@layer components {
    * {
        box-sizing: border-box;
    }
    body {
        @apply font-jakarta;
    }
    /* Input */
    input,
    textarea,
    select {
        @apply !outline-none !shadow-none border-0;
    }

    .search-input {
        @apply border-0 focus:border-b focus:border-solid focus:border-primary;
    }
    .contact-input {
        @apply border-0 focus:border focus:border-solid focus:border-primary;
    }

    .login .form-control {
        @apply w-full;
    }

    .form-control {
        @apply border border-solid border-[#E7E7E7] px-4 py-3 focus:border-primary rounded-xl;
    }
    .form-control.error {
        @apply border border-solid border-red-500 bg-red-100;
    }
    input[type='checkbox'] {
        accent-color: #1e003f;
    }
    /* small */
    .links {
        @apply cursor-pointer text-primary hover:text-secondary;
    }
    .actions {
        @apply cursor-pointer text-primary hover:text-secondary;
    }
    .actions .text {
        @apply hidden;
    }
    .actions:hover .text {
        @apply inline;
    }
    .bordered {
        @apply border border-solid;
    }
    .flexed {
        @apply flex justify-center items-center;
    }
    .flexed-space {
        @apply flex justify-between items-center;
    }
    /* Model */
    #modal::-webkit-scrollbar-thumb {
        border: 4px solid transparent;
        border-radius: 8px;
        background-clip: padding-box;
        background-color: #1e003f;
        margin-left: 5px;
    }
    #modal::-webkit-scrollbar {
        width: 14px;
    }
    /* Buttons */
    .btn {
        @apply transition-all ease-in duration-300;
    }
    .main-btn {
        @apply text-white bg-primary p-2 rounded-md active:shadow-inner hover:bg-secondary;
    }
    .page-btn {
        @apply flex items-center bg-white text-primary rounded-full px-6 py-2
         hover:bg-secondary hover:text-white transition border border-solid border-secondary;
    }
    .auth-btn {
        @apply w-full rounded-md bg-primary p-2 text-white border-2 border-solid border-transparent hover:border-secondary;
    }
    /* Avatar Dropdown */

    .avatar-dropdown {
        @apply absolute right-0 top-12 bg-white *:list-none rounded-md p-4 flex flex-col gap-2;
        box-shadow:
            rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
            rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    .avatar-dropdown li.link {
        @apply hover:bg-primary_50 p-2 rounded-sm w-full cursor-pointer;
    }

    /* Banner Css */
    .main-banner {
        @apply bg-fixed bg-cover bg-no-repeat bg-[url(/src/assets/images/icons/liquid-cheese-bg.svg)];
    }
    .banner {
        @apply bg-fixed bg-cover bg-no-repeat bg-[url(/src/assets/images/icons/sun-tornado.svg)];
    }
    /* Swipper Button Css */
    .swiper-button-job {
        @apply right-5 z-10  text-white bg-transparent hover:bg-tertiary text-xl font-thin 
        rounded-full h-10 w-10 flex justify-center items-center border border-solid border-white;
    }
    /*  Job  Section */
    .job-company {
        @apply p-2 bg-[#00000050] rounded-sm text-white hover:text-primary 
        text-center font-medium text-xl;
    }
    .job-card .apply-btn {
        @apply mt-4  bg-white hover:bg-tertiary text-tertiary hover:text-white py-2 px-4 rounded-full flex items-center justify-center bordered border-tertiary;
    }
    .job-card.active .apply-btn {
        @apply mt-4 bg-transparent hover:bg-white text-white hover:text-tertiary py-2 px-4 rounded-full flex items-center justify-center bordered border-white;
    }
    .job-card .info {
        @apply bg-white text-tertiary;
    }

    .job-card.active .info {
        @apply bg-tertiary text-white;
    }

    /* Contact */
    .contact .submit-btn {
        @apply bg-primary text-white w-full hover:bg-gray-800;
    }

    /* Detail */

    .detail .apply-btn {
        @apply mt-4  bg-white hover:bg-secondary text-secondary hover:text-white py-2 px-4 rounded-full flex items-center justify-center bordered border-secondary;
    }
}
